@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "colour.scss";

h1, h2, h3 {
  font-family: 'Overpass';
}

.big-title {
  font-size: 80px;
  font-weight: bold;
}

.border-line {
  border: 1px solid $white;
}

/*Circle*/
.middle {
  vertical-align: middle;
  text-align:center;
  // position:relative; /*makes left effective*/
  display:table-cell;
  .circle {
    margin: auto;
    background-color: $primaryBlue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    place-items: center center;
    line-height: 46px;
    // &:hover {
    //   background-color: $white;
    // }
    .icon {
      width: 25px;
      filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(139deg) brightness(100%) contrast(107%);
      // &:hover {
      //   filter: invert(0%) sepia(89%) saturate(7361%) hue-rotate(334deg) brightness(130%) contrast(99%);
      // }
    }
    // .inner-circle {
    //   width: 15px;
    //   height: 15px;
    // }
  }
}

/*primary button*/
.button-container-primary {
  width: 20%;
  .btn {
    color: $white;
    width: 90%;
    font-weight: bold;
    background-color: $primaryBlue;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing:1px;
}

/*general component*/
.sidebar {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 100;
  .navbar {
    padding: 2rem 0;
    .logo {
      .name-logo {
        font-family: 'Neue Helvetica®';
        font-size: 30px;
        margin: 0;
      }
    }
    .navbar-menu {
      .link {
        margin-left: 20px;
        font-family: 'Neue Helvetica®';
        color: $primaryBlue;
        &.btn-primary {
          background-color: transparent;
          border-color: #fff 1px solids;
          color: $primaryBlue;
          width: 100px;
          &:hover {
            background-color: $primaryBlue;
            color: $white;
            border-color: transparent;
          }
        }
      }
    }
  }
}

.card-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  max-width: 250px;
  max-height: 100%;
  position: relative;
  display: block;
  .image-container {
    .image-around {
      width: 100%;
      border-radius: 5px;
    }
    .image-text {
      color: $white;
      position: absolute;
      bottom: 0;
      padding: 15px;
      width: 100%;
      h2,span {font-family: 'Neue Helvetica®';}
      .title {font-size: 20px;}
      .button-container {
        padding-top: 20px;
        .btn {
          width: 100px;
          font-weight: bold;
          background-color: transparent;
          border-color: $white;
          &:hover {
            background-color: $primaryBlue;
            border-color: none;
          }
        }
      }
    }
  }
}

.card-withtitle {
  width: 300px;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .title {font-weight: bold; color: $primaryBlue; font-family: 'Neue Helvetica®'; font-size: 20px; letter-spacing: 0;}
  .address {color: $grey100; font-family: 'Neue Helvetica®';}
  .description {color: $grey100; font-size: 12px; font-family: 'Neue Helvetica®'; margin-top: 20px;}
  .details-button-wrapper {
    text-align: right;
    .details-button {
      font-family: 'Neue Helvetica®';
      .fas {
        margin-left: 10px;
      }
    }
  }
  .content-wrapper {
    .image-background {
      width: 100%;
      height: 100%;
    }
    .text-detail-wrapper {
      background-color: $white;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 20px;
    }
  }
}

.card-search-result {
  font-family: 'Neue Helvetica®';
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
  .image-container {
    .card-image {
      width: 100%;
    }
  }
  .information-container {
    position: relative;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    .title-and-price {
      h3 {font-family: 'Neue Helvetica®'; font-weight: bold; color: $primaryBlue;}
      display: flex;
      justify-content: space-between;
      .title {font-size: 20px; letter-spacing: 0;}
      .price {font-size: 20px;}
    }
    .address{color: $grey100;}
    .ratings{color: $grey100; font-weight: 400;}
    .more-details-container {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $primaryBlue;
      padding: inherit;
      &:hover {
        text-decoration: none;
      }
      .fas {
        margin-left: 10px;
      }
    }
  }
}

.card-event-container {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  .card-event-wrapper {
    .image-artist {
      width: 120%;
    }
    .card-event-detail {
      color: $black;
      background-color: $white;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 20px;
      z-index: 1;
      display: flex;
      margin: auto 0;
      .card-dates {
        margin-right: 40px;
        .month {text-transform: uppercase; color: $primaryBlue; font-weight: 600;}
        .date {text-transform: uppercase; font-weight: bold; text-align: center;}
      }
      .card-event-information {
        display: grid;
        .event-title {font-weight: bold; font-family: 'Overpass';}
        .event-information {font-family: 'Neue Helvetica®'; font-size: 14px;}
      }
    }
  }
}

.box {
  width: 150px;
  height: 150px;
  display: table; 
  &.recommendation-wrapper {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.25s ease-in-out;
    background-color: $white;
    margin-right: 30px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      background-color: $primaryBlue;
      .circle {
        background-color: $white;
      }
      .icon {
        filter: invert(0%) sepia(89%) saturate(7361%) hue-rotate(334deg) brightness(130%) contrast(99%);
      }
      .text {
        color: $white;
      }
    }
    .middle {
      vertical-align: middle;
      text-align:center;
      // position:relative; /*makes left effective*/
      display:table-cell;
      .circle {
        margin: auto;
        background-color: $primaryBlue;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        place-items: center center;
        line-height: 46px;
        // &:hover {
        //   background-color: $white;
        // }
        .icon {
          width: 25px;
          filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(139deg) brightness(100%) contrast(107%);
          // &:hover {
          //   filter: invert(0%) sepia(89%) saturate(7361%) hue-rotate(334deg) brightness(130%) contrast(99%);
          // }
        }
        // .inner-circle {
        //   width: 15px;
        //   height: 15px;
        // }
      }
    }
    .text {font-size: 15px; font-family: 'Neue Helvetica®'; font-weight: 500; color: $primaryBlue;}
  }
}

.search-bar {
  display: flex;
  width: 80%;
  padding: 30px;
  background-color: $white;
  border-radius: 5px;
  .content-container {
    width: 50%;
    color: $black;
    p {font-family: 'Neue Helvetica®' !important; font-weight: bold; text-transform: uppercase; letter-spacing: 3px; font-size: 13px !important; color: $black;}
    span {font-family: 'Neue Helvetica®';}
    &#categories, &#date {
      margin: 0 20px;
    }
    .categories-selection {
      display: flex;
      justify-content: space-between;
    }
  }
  .button-container {
    width: 30%;
    text-align: right;
    margin: auto;
    .btn {
      width: 90%;
      font-weight: bold;
      background-color: $primaryBlue;
    }
  }
}

/*End of line general component*/

.container-fluid {
  padding: 0 30px !important;
  @media (min-width: 768px) {
      padding: 0 100px !important;
  }
}

/*Homepage*/
.travellia-home {
  .sub-title {font-family: "Overpass"; font-size: 18px; margin-top: 20px;}
  .first-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/cover-page.jpg');
    background-size: cover;
    min-height: 100vh;
    .content {
      padding-top: 15%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .search-bar {
        .content-container {
          p {color: $black;}
        }
      }
      p, h1 {
        font-family: 'Overpass';
        color: $white;
      }
      p {
        font-size: 20px;
      }
      .find-place {margin: 50px 0;}
      .hotel-recommendation {margin: 60px 0 20px 0;}
      .image-wrapper {
        top: 90%;
        position: relative;
        .card-image {
          margin: 0 30px 30px 0;
        }
      }
    }
  }
  .second-section {
    margin: 60px 0;
    .section-recommendation {
      p {font-family: "Overpass"; font-size: 18px; margin-top: 20px;}
    }
  }
  .third-section, .fourth-section {
    background-color: $primaryBlue;
    color: $white;
    padding: 30px 0;
    &::before {
      content: "";
      background-color: $primaryBlue;
      width: 100%;
      height: 50%;
    }
    // .card-withtitle {
    //   .title {font-weight: bold; color: $primaryBlue; font-family: 'Neue Helvetica®'; font-size: 20px; letter-spacing: 0;}
    //   .address {color: $grey100; font-family: 'Neue Helvetica®';}
    //   .description {color: $grey100; font-size: 12px; font-family: 'Neue Helvetica®'; margin-top: 20px;}
    //   .details-button-wrapper {
    //     text-align: right;
    //     .details-button {
    //       font-family: 'Neue Helvetica®';
    //       .fas {
    //         margin-left: 10px;
    //       }
    //     }
    //   }
    // }
    .arrow-right {
      text-align: right;
      a {
        .fas {
          font-size: 50px;
          color: $white;
        } 
      }
    }
  }
  .fourth-section {
    margin-top: 100px;
  }
  .newsletter-section {
    text-align: center;
    background-color: $grey50;
    padding: 50px;
    margin: 80px 0;
    .input-email{
      width: 400px;
      margin: auto;
      margin-top: 40px;
      input[type=text] {
        height: 20%;
        width: 60%;
        padding: 10px 10px;
        border-radius: 0;
        border-color: transparent;
        font-family: 'Neue Helvetica®';
      }
      .btn {
        background-color: $primaryBlue;
        padding: 10px 10px;
        border-radius: 0;
        width: 40%;
      }
    }
  }
}

/*Search Page*/
.travellia-search-result {
  min-height: 100vh;
  padding-top: 10%;
  .search-bar {
    width: 100% ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  .search-filter {
    padding-top: 5%;
    padding-bottom: 5%;
    .page-title {
      font-weight: bold;
      letter-spacing: 1px;
    }
    .filter-button {
      margin-top: 20px;
    }
    .btn-primary {
      background-color: transparent;
      border-color: #fff 1px solid;
      color: $primaryBlue;
      min-width: 100px;
      margin-right: 20px;
      &:hover {
        background-color: $primaryBlue;
        color: $white;
        border-color: transparent;
      }
    }
  }
}

/*Result Page*/
.travellia-result-detail {
  min-height: 100vh;
  .picture-detail-upper-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/cover-page.jpg');
    background-size: cover;
    padding-top: 10%;
    min-height: 80vh;
    .back-button {
      display: flex;
      color: $white;
      .fas {font-size: 20px; margin-right: 10px;}
      .back-title {font-size: 20px;}
    }
    .content-detail {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      .sub-parent {
        color: $white;
        .place-title, .address-summary {font-family: 'Neue Helvetica®';}
        .place-title {
          text-transform: uppercase;
          font-weight: 800;
          text-align: center;
          font-size: 80px;
        }
        .address-summary {
          text-align: center;
          font-size: 20px;
        }
      }
    }
    .button-action {
      .row {
        justify-content: center;
      }
      color: $white;
      .parent {display: flex; padding: 0 10px; color: $white; text-decoration: none;}
      .icon {margin: auto; font-size: 20px; padding-right: 10px;}
      p {margin: auto;}
    }
  }
  .photo-collection {
    padding: 60px 0;
    .title {
      margin-bottom: 30px;
    }
    .image-wrapper {
      width: 450px;
      height: 250px;
      overflow: hidden;
      .image {
        width: 600px;
        overflow: hidden;
      }
    }
  }
  .photographer-testimonial {
    background-color: $dark-grey;
    color: $white;
    padding: 60px 0;
    .title-container{
      text-align: center;
    }
    .testimonial-container {
      .testimonial-parent {
        display: flex;
        // justify-content: center;
        margin-top: 60px;
        .image-container {
          width: 300px;
          height: 300px;
          overflow: hidden;
          margin-right: 100px;
          .image-photographer {
            width: 600px;
            transform: translateX(-150px);
          }
        }
        .content-container {
          margin: auto 0;
          font-family: 'Overpass';
          .border-line {
            margin: 30px 0;
            width: 100px;
          }
          .photographer-comments {
            font-family: 'Neue Helvetica®';
            font-size: 30px;
          }
        }
      }
    }
  }
  .review-section {
    padding: 30px 0;
    .content {
      .title {margin-bottom: 40px;}
    }
  }
  .reach-more-section {
    background-color: $grey50;
    padding: 30px 0;
    margin: 60px 0;
    .title {
      margin-bottom: 30px;
    }
    .card-withtitle{
      .content-wrapper {
        .text-detail-wrapper {
          .title {
            margin: 0;
          }
          .address {
            margin: 0;
          }
        }
      }
    }
  }
}

.travellia-event-mainpage {
  background-color: $black;
  .picture-detail-upper-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/edm-wallpaper.jpg');
    background-size: cover;
    padding-top: 10%;
    min-height: 90vh;
    .back-button {
      display: flex;
      color: $white;
      .fas {font-size: 20px; margin-right: 10px;}
      .back-title {font-size: 20px;}
    }
    .content-detail {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      .sub-parent {
        color: $white;
        .place-title {font-family: 'Monda'; text-transform: uppercase; font-weight: bold;} 
        .address-summary {font-family: 'Neue Helvetica®';}
        .place-title {
          text-transform: uppercase;
          font-weight: 800;
          text-align: center;
          font-size: 80px;
        }
        .address-summary {
          text-align: center;
          font-size: 20px;
        }
      }
    }
    .button-container {
      text-align: center;
      .btn-primary {
        background-color: $primaryBlue;
        border-color: $white;
        text-transform: uppercase;
        font-family: 'Monda' ;
        font-weight: bold;
        padding: 10px;
        width: 200px;
      }
    }
  }
  .search-section {
    background-color: $white;
    .search-bar {
      width: 100%;
      .button-container {
        .btn-primary {
          background-color: $black;
          border-color: transparent;
        }
      }
    }
  }
  .recommendation-one {
    color: $white;
    padding: 30px 0;
  }
}

/*Footer**/
.travellia-footer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: $primaryBlue;
  color: $white;
  padding: 30px 0;
  .all-rights {
    font-family: "Overpass";
  }
  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .about-company {
      max-width: 300px;
      h4 {font-family: "Overpass"; margin-bottom: 20px;}
      p {font-family: "Neue Helvetica®"; line-height: 30px;}
    }
    .social-media {
      p {font-family: "Overpass"; text-align: right;}
      .icons {
        float: right;
        .middle {
          .circle {
            margin-left: 20px;
            background-color: $white;
            width: 40px;
            height: 40px;
            line-height: 40px;
            .fab {
              font-size: 20px;
              // margin-left: 20px;
              transition: 0.3s ease-in;
              color: $primaryBlue;
            }
          }
        }
      }
    }
  }
}