@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "colour.scss";

.circle {
    background-color: $dark-grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 46px;
}

.cardReview {
    max-width: calc(100vw / 3);
 .card-item {
    .picture-with-name {
        .upper-container {
            display: flex;
            margin: auto;
            .people-picture {margin-right: 30px;}
            .name-container {
                .name-reviewer {font-family: 'Overpass'; font-size: 25px; margin-bottom: 0;}
                .date {font-family: 'Overpass';}
            }
        }
        .comment-container {
            .review-comment {
                margin: 20px 0;
                p {font-family: 'Neue Helvetica®';}
            }
            .rating-stars {
                p {font-family: 'Overpass'; font-size: 20px;}
            }
        }
    }
 }
}